* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(70, 66, 66);
} 


/* -----------------------------------Upper NavBar Portion------------------------------------ */

.upper-nav-portion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
}

.call-text {
    margin-left: 30px;
}

.right-text {
    display: flex;
}

.email-text {
    font-weight: bold;
}

.icon {
    margin-right: 10px;
}

.left-text {
    border-right: 1px solid rgb(204, 198, 198);
    border-left: 1px solid rgb(204, 198, 198);
    padding: 5px 20px;
    position: relative;
    display: inline-block;
}

.lang-text a {
    font-size: 16px;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    font-size: 16px;
    padding-top: 15px;
    line-height: 1em;
    min-width: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    display: block;
}

.left-text:hover .dropdown-content {
    display: block;
  }
  
.left-text:hover {
    border: none;
}


/* -----------------------------------Lower NavBar Portion-------------------------------------- */

.bottom-border {
    border-bottom: 1px solid rgb(238, 221, 221);
    position: sticky;
    top: 0;
    z-index: 1;
}

.lower-nav-portion {
    background-color: white;
    margin: 0px 50px;
    padding: 10px 20px;
}

.saylanilogo img {
    width: 210px;
    height: 60px;
}

.homenavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-weight: 600;
}

.homenavbar li {
    position: relative;
    text-align: center;
    padding-bottom: 3px;
}

.list:focus {
    color: #0066b3;
}

.list:hover::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #8dc63f;
    left: 0;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: underline 0.30s linear;
}

@keyframes underline {
    0% {
        width: 0%;
    }
    

    100% {
        width: 100%;
    }
}


.donate a {
    background-color: #0066b3;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.donate:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.2s ease-in-out;
}

.blue_home a:first-child {
    color: #0066b3;
}

.donor a {
    color: #8dc63f;
    animation: color-change 1s infinite;
}

@keyframes color-change {
    50% {
        color: #0066b3;
    }    
    100% {
        color: #8dc63f;
    }
}



/* ----------------------------------Donation Headings with Pics--------------------------------- */

#web-container {
    background-color: rgb(255, 255, 255);
    margin: 0 50px;
    padding: 0 20px;
}

#donation-hp {
    margin-top: 10px;
}

.text-image {
    display: flex;
    justify-content: space-between;
    background-image: url(./images/carousal_background.d77d94e41c5a71ae581f.png);
    background-size: contain;
}

.contentleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentleft h2 {
    font-size: 45px;
    padding-bottom: 10px;
}

.wrapper {
    display: flex;
}

.wrapper .static-text {
    font-size: 28px;
    align-self: center;
}

.wrapper .dynamic-text {
    margin-left: 10px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-text li {
    list-style-type: none;
    color: #0066b3;
    font-size: 28px;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top:-360px;
    }
}

.dynamic-text li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    height: 40%;
    width: 100%;
    background-color: #f9f9f9;
    border-left: 4px solid #0066b3;
    animation: typing 3s steps(13) infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 5px);
    }
    100% {
        left: 0;
    }
}

.contentleft p {
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.read-more {
    width: 180px;
    border: 1px solid black;
    padding: 15px 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.read-more:active {
    transform: translate(20px) scale(0.9, 0.9);
}

.green-text {
    color: #8dc63f;
}

.contentright img {
    width: 520px;
    margin-top: 35px;
}

/* -----------------------------------Quick Donations------------------------------------------ */

#quick-dona {
    background-color: #f0fcdb;
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
    width: 100%;
}

.help-us {
    display: flex;
    align-items: center;
    width: 100%;
}

.support-me h2{
    font-size: 35px;
    margin-bottom: 20px;
    margin-right: 35px;
    letter-spacing: 0.5px;
}

.support-me h4{
    font-size: 18px;
    color: #0066b3;
    letter-spacing: 0.5px;
}

.support-me-list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.support-me-list li {
    font-size: 16px;
    padding: 15px 25px;
    margin-right: 15px;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 1s;
} 

.support-me-list li:hover {
    background-color: #424242;
    color: white;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.support_me_ul li:last-child {
    background-color: #8dc63f;
    color: white;
    border-radius: 4px;
}

.support_me_ul li:first-child{
    background-color: #424242;
    color: white;
}

/* ---------------------------One Blanket Picture------------------------------- */

.one-blanket img {
    width: 1120px;
    height: 520px;
    margin-top: 20px;
}

/* ---------------------------What We Are Doing------------------------------- */

.doing-what-head {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.doing-what-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.doing-row-icon {
    display: flex;
    justify-content: center;
}

.doing-mid-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0fcdb;
    border-radius: 10px;
    padding: 20px 40px;
    height: 100%;
    transition: all 0.4s;
}

.doing_mid_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.doing_mid_head {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

.doing-mid-icon:hover {
    transform: scale(1.1, 1.1);
    background-color: #f6ffe7;
}



/* ------------------------Upcoming Projects---------------------------- */

/* .upcoming-projects {
    display: flex;
    justify-content: center;
    width: 100%;
} */

.food-distribution {
    display: flex;
    justify-content: space-between;
}

.food-heading-button {
    background-image: url(./images/Food-Distribution.jpg);
    opacity: 1;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    width: 360px;
    height: 280px;
    transition: all 300ms ease-in;
}

.IT-heading-button {
    background-image: url(./images/IT-Enterprenuarship.jpg);
    opacity: 1;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    width: 360px;
    height: 280px;
    transition: all 300ms ease-in;
}

.help-heading-button {
    background-image: url(./images/Help-The-Needy.jpg);
    opacity: 1;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    width: 360px;
    height: 280px;
    transition: all 300ms ease-in;
}

.form_heading_button {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 360px;
    height: 280px;
    color: white;
    padding: 10px;
}

.form_heading_button h4{
    font-size: 18px;
    letter-spacing: 0.3px;
}

.form_button {
    background-color: #8dc63f;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px 0px;
    margin: 10px 0px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.food-heading-button:hover {
    transform: scale(1.07, 1.07);
    opacity: 0.8;
}

.IT-heading-button:hover {
    transform: scale(1.07, 1.07);
    opacity: 0.8;
}

.help-heading-button:hover {
    transform: scale(1.07, 1.07);
    opacity: 0.8;
}

/* ------------------------Upcoming Other Projects---------------------------- */

#other_projects_container {
    margin-top: 70px;
    width: 100%;
    height: 100%;
    display: flex;
}

.distribution_img {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.distribution_img_top {
    width: 100%;
    height: 100%;
    position: relative;
}

.distribution_img_top img{
    border-top-left-radius: 50px;
    width: 100%;
    height: 100%;
}

.distribution_food_TL {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8dc63f;
    border-top-left-radius: 50px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 50%;
    height: 50%;
}

.distribution_food_TL h2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 27px;
    color: rgb(255, 255, 255);
}

.distribution_food_TR {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid white;
    width: 50%;
    height: 50%;
}

.distribution_food_BL {
    position: absolute;
    bottom: 0;
    left: 0;
    border-right: 1px solid white;
    width: 50%;
    height: 50%;
}

.distribution_food_BR {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

.other_projects {
    margin-left: 25px;
    width: 50%;
}

.other_projects_head {
    margin-bottom: 15px;
}

.other_projects_list {
    display: flex;
    padding-left: 10px;
}

.other_projects_list_head {
    padding: 0px 0px 20px 20px;
    line-height: 1.4rem;
}

.projects_icon img{
    padding-top: 15px;
    width: 30px;
}

.projects_icon_tharparkar img {
    padding-top: 15px;
    width: 30px;
}

.other_projects_list_head h3 {
    color: #0066b3;
}

/* ------------------------Calculation Images---------------------------- */

#main_caulculation {
    background-color: #0066b3;
    margin-bottom: 50px;
}

.cal_bg_img_line {
    background-image: url(./images/upcoming_background.a669f19ea2aee3c7e10f.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 440px;
}

.calculation_row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.cal_row_food ul {
    list-style-type: none;
    text-align: center;
    color: white;
    padding: 5px 20px;
}

.cal_row_food {
    display: flex;
    align-items: center;
    margin: 0px 50px;
}

.bold_num {
    font-size: 18px;
    margin-top: 22px;
}

.bold_figure li:first-child {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold_figure li>img {
    height: 50px;
}

.bold_figure li>p {
    letter-spacing: 0.2px;
}







/* ------------------------Media Queries---------------------------- */

/* @media only screen and (max-width: 500px) {
    .box1 {
        width: 50%
    }
} */

/* Tablet */
/* @media(min-width: 501px) and (max-width: 768px) {
    body {
        background: blue;
    }

    #tablet h1 {
        display: block;
    }
} */

/* Normal */
/* @media(min-width: 769px) and (max-width: 1200px) {
    body {
        background: green;
    }

    #normal h1 {
        display: block;
    }
} */

/* Widescreen */
/* @media(min-width: 1201px) {
    body {
        background: black;
    }

    #widescreen h1 {
        display: block;
    }
} */

/* Landscape */
/* @media(max-height: 500px) {
    body {
        background: orange;
    }

    #landscape h1 {
        display: block;
    }
} */